<header>
  <%- include('navbar') %>
</header>

<h1>Meus Projetos</h1>

<article>
  <% if (projetos && projetos.length > 0) { %>
    <% projetos.forEach(projeto => { %>
      <div class="move-card">
        <div class="card mb-3 small-card">
          <img src="/imagens/<%= projeto.imagem %>" class="card-img-top" alt="Imagem do projeto <%= projeto.nome %>">
          <div class="card-body">
            <h5 class="card-title"><%= projeto.nome %></h5>
            <p class="card-text"><%= projeto.descricao %></p>
            <a href="<%= projeto.link %>" target="_blank">
              <img class="img-links" src="./imagens/github.svg" alt="GitHub do projeto" />
            </a>
          </div>
        </div>
      </div>
    <% }) %>
  <% } else { %>
    <p>Nenhum projeto encontrado no banco de dados.</p>
  <% } %>
</article>
